*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.all{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 5%;
    /* border: 2px solid black; */
}

.all .qrimage{
    width: 250px;
    line-height: 0;
    /* outline: 2px solid black; */
}

.all .qrimage img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}

.all .text .mainText{
    margin-top: 18px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    /* border: 2px solid black; */
}

.all .text .subText{
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    margin: 15px 0 20px 0;
    /* border: 2px solid black; */
}